.custom-swiper-button-prev,
.custom-swiper-button-next {
    position: absolute;
    top: 40%;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom-swiper-button-prev {
    left: 0px;
    /* adjust as needed */
}

.custom-swiper-button-next {
    right: 0px;
    /* adjust as needed */
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
}